<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>公司注册-代办营业执照-代办公司注册-注册公司流程-企腾宝</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/layui.css">
    <script src="./js/layui.js"></script>
</head>

<body>
    <div id="app" class="topNav">
        <!-- 顶部导航 -->
        <div class="children_topNav">
            <div class="wel_login_reg">
                <span class="welcomeTxt">欢迎来到企腾宝！</span>
                <img class="topNavIcon loginsIcon" src="./img/logins.png" alt="">
                <span class="loginTxt">请登录</span>
                <span class="topNavLine"></span>
                <img class="topNavIcon resIcon" src="./img/res.png" alt="">
                <span class="regTxt">免费注册</span>
            </div>
            <div class="topNavRight">
                <ul>
                    <li>我的企腾宝</li>
                    <li>购物车</li>
                    <li>关于企腾宝</li>
                    <li>资讯中心</li>
                    <li>在线客服</li>
                    <li>24小时服务热线：400-801-8301</li>
                </ul>
            </div>
        </div>
        <!-- 顶部导航 结束-->

        <!-- 企业logo 搜索框 -->
        <div class="top_search">
            <div style="display: flex;">
                <div class="logoIcon">
                    <img class="logoImg" src="./img/logo.png" alt="">
                    <span class="top_search_line"></span>
                </div>
                <div class="synopsisTxt">
                    <p class="one">企业服务筑梦者</p>
                    <p class="two">让老板经营企业更省心！</p>
                </div>
            </div>
            <div class="search">
                <div class="inputDiv">
                    <input type="text" placeholder="请输入您想了解的关键字信息">
                    <div class="input_subnav">
                        <ul>
                            <li>贸易公司</li>
                            <li>集团公司</li>
                            <li>带车牌</li>
                            <li>带商标</li>
                        </ul>
                        <div class="searchBtn">
                            <img class="header_ss_img" src="./img/header_ss.png" alt="">
                        </div>
                    </div>
                </div>
                <a href="" target="" class="goToSell">
                    <img class="goToSellImg" src="./img/header_fbdzxq.png" alt="">
                    <span>去出售</span>
                </a>
            </div>
        </div>
        <!-- 企业logo 搜索框 结束-->

        <!-- tab导航栏 -->
        <div class="top_tab_nav">
            <div class="tabNav">
                <ul>
                    <li> <img class="shouyeIcon" src="./img/header_img_index.png" alt=""> 网站首页</li>
                    <span></span>
                    <li>公司转让</li>
                    <span></span>
                    <li class="on">公司定制</li>
                    <span></span>
                    <li>区域价格</li>
                    <span></span>
                    <li>公司估价</li>
                    <span></span>
                    <li>热门工具</li>
                </ul>
            </div>
            <div class="buy_sell">
                <span> <img src="./img/header_mai.png" alt=""> 想买</span>
                <span> <img src="./img/header_mai2.png" alt=""> 想卖</span>
            </div>
        </div>
        <!-- tab导航栏 结束-->

        <!-- 背景图 -->
        <div class="background_img">
            <div class="information">
                <div class="info_content textAlign">
                    <span class="title">企腾宝</span>
                </div>
                <div class="serve_content textAlign">
                    <span class="serve_txt">1对1专属服务</span>
                </div>
                <div class="ent_stat textAlign">
                    <span class="one">12158</span>
                    <span class="two">家</span>
                </div>
                <div class="acc_txt textAlign">
                    <span>累计服务中小企业</span>
                </div>
                <div class="info_btn">
                    立即咨询
                </div>
                <span class="line"></span>
                <div class="recently">
                    <div class="recently_txt">
                        <div class="yuandian"></div>
                        <span>最近办理</span>
                    </div>
                    <div class="left_right">
                        <img class="one" src="./img/left.png" alt="">
                        <img class="two" src="./img/right.png" alt="">
                    </div>
                </div>
                <!-- 虚线 -->
                <div class="imaginary_line"></div>
                <!-- 滚动文字 -->
                <div class="success_loan_text" id="successLoanTextBox">
                    <div id="successLoantextContent" class="success_loantext_content">
                        <p class="success_loantextbox_p">
                            <img src="./img/right.png" alt="">
                            <span class="txtBule padding_left">5分钟前</span><span
                                class="red padding_left">1***k</span><span class="padding_left"
                                style="color:#a6a7a7;">办理了</span><span class="padding_left">食品公司定...</span>
                        </p>
                        <p class="success_loantextbox_p">
                            <img src="./img/right.png" alt="">
                            <span class="txtBule padding_left">5分钟前</span><span
                                class="red padding_left">1***k</span><span class="padding_left"
                                style="color:#a6a7a7;">办理了</span><span class="padding_left">食品公司定...</span>
                        </p>
                        <p class="success_loantextbox_p">
                            <img src="./img/right.png" alt="">
                            <span class="txtBule padding_left">5分钟前</span><span
                                class="red padding_left">1***k</span><span class="padding_left"
                                style="color:#a6a7a7;">办理了</span><span class="padding_left">食品公司定...</span>
                        </p>
                        <p class="success_loantextbox_p">
                            <img src="./img/right.png" alt="">
                            <span class="txtBule padding_left">5分钟前</span><span
                                class="red padding_left">1***k</span><span class="padding_left"
                                style="color:#a6a7a7;">办理了</span><span class="padding_left">食品公司定...</span>
                        </p>
                    </div>
                    <div id="successLoanCopyBox"></div>
                </div>
                <!-- 滚动文字 结束-->
            </div>
            <div class="group_picture">
                <img src="./img/zu.png" alt="">
            </div>
        </div>
        <!-- 背景图 结束-->

        <!-- 套餐定制 -->
        <div class="set_custom_main">
            <div class="set_custom">
                <div class="set_custom_txt textAlign">
                    <span class="one">套餐定制</span>
                    <span class="two">开公司、劳心劳神，个性化定制需求，搞定创业琐事</span>
                </div>
                <div class="science_commerce_food textAlign">
                    <!-- 科技公司 -->
                    <div class="science position">
                        <div class="hot_img">
                            <img src="./img/rm.png" alt="">
                        </div>
                        <div class="science_content back_padd">
                            <div>
                                <span class="title">科技公司定制套餐</span>
                                <p class="txt">e-commerce</p>
                            </div>
                            <div class="explain1">

                            </div>
                            <div class="marginTo40 alignRight">
                                <div>
                                    <span>
                                        企腾宝价:
                                    </span>
                                    <span class="spanColor font14">
                                        ¥
                                        <span class="font21">
                                            3099.00
                                        </span>
                                        <span class="font14">
                                            元起
                                        </span>
                                    </span>
                                </div>
                                <div class="marginTo20">
                                    <span class="font12">定制属于你的科技公司，一键开始运营</span>
                                </div>
                                <div class="cust_btn">
                                    <span class="custTxt">立即定制</span>
                                </div>
                            </div>
                        </div>
                        <div class="explain">
                            <!-- 右上角Icon -->
                            <div class="jiao">
                                <img src="./img/jiao.png" alt="">
                            </div>

                            <!-- 第一列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gshm.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>公司核名</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gssl.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>工商设立</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia2.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle circle1">
                                        <img src="./img/jyfwdz.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="buleTxt">经营范围定制</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第二列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/kzba.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>刻章备案</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/swbd.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>税务报道</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/yhkh.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>银行开户</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第三列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/lssb.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>纳税申报</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 商贸公司 -->
                    <div class="commerce position">
                        <div class="hot_img">
                            <img src="./img/rm.png" alt="">
                        </div>
                        <div class="commerce_content back_padd">
                            <div>
                                <span class="title">科技公司定制套餐</span>
                                <p class="txt">e-commerce</p>
                            </div>
                            <div class="explain1">

                            </div>
                            <div class="marginTo40 alignRight">
                                <div>
                                    <span>
                                        企腾宝价:
                                    </span>
                                    <span class="spanColor font14">
                                        ¥
                                        <span class="font21">
                                            3099.00
                                        </span>
                                        <span class="font14">
                                            元起
                                        </span>
                                    </span>
                                </div>
                                <div class="marginTo20">
                                    <span class="font12">定制属于你的科技公司，一键开始运营</span>
                                </div>
                                <div class="cust_btn">
                                    <span class="custTxt">立即定制</span>
                                </div>
                            </div>
                        </div>
                        <div class="explain">
                            <!-- 右上角Icon -->
                            <div class="jiao">
                                <img src="./img/jiao.png" alt="">
                            </div>

                            <!-- 第一列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gshm.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>公司核名</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gssl.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>工商设立</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia2.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle circle1">
                                        <img src="./img/swch.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="buleTxt">税务筹划</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第二列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/kzba.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>刻章备案</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/swbd.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>税务报道</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/yhkh.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>银行开户</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第三列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/lssb.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>纳税申报</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 食品公司 -->
                    <div class="food position">
                        <div class="hot_img">
                            <img src="./img/rm.png" alt="">
                        </div>
                        <div class="food_content back_padd">
                            <div>
                                <span class="title">科技公司定制套餐</span>
                                <p class="txt">e-commerce</p>
                            </div>
                            <div class="explain1">

                            </div>
                            <div class="marginTo40 alignRight">
                                <div>
                                    <span>
                                        企腾宝价:
                                    </span>
                                    <span class="spanColor font14">
                                        ¥
                                        <span class="font21">
                                            3099.00
                                        </span>
                                        <span class="font14">
                                            元起
                                        </span>
                                    </span>
                                </div>
                                <div class="marginTo20">
                                    <span class="font12">定制属于你的科技公司，一键开始运营</span>
                                </div>
                                <div class="cust_btn">
                                    <span class="custTxt">立即定制</span>
                                </div>
                            </div>
                        </div>
                        <div class="explain">
                            <!-- 右上角Icon -->
                            <div class="jiao">
                                <img src="./img/jiao.png" alt="">
                            </div>

                            <!-- 第一列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gshm.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>公司核名</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/gssl.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>工商设立</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia2.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle circle1">
                                        <img src="./img/spxkzdb.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="buleTxt">食品许可证代办</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第二列图标 -->
                            <div class="explain_content">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/kzba.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>刻章备案</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/swbd.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>税务报道</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/yhkh.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>银行开户</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 第三列图标 -->
                            <div class="explain_content" style="width: 152px;">
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/lssb.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>纳税申报</span>
                                    </div>
                                </div>
                                <!-- ‘+’号Icon -->
                                <div class="jiahao">
                                    <img src="./img/jia1.png" alt="">
                                </div>
                                <div class="aaa">
                                    <div class="circle">
                                        <img src="./img/jkzdb.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>健康证代办</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 套餐定制 结束-->

        <!-- 企腾宝·让老板创业更简单 -->
        <div class="boos_start_main">
            <div class="boos_start">
                <!-- 标题 -->
                <div class="set_custom_txt textAlign">
                    <span class="one">企腾宝·让老板创业更简单</span>
                    <span class="two">企腾宝已经帮助 <span style="color: #ff781f;">12158</span> 家客户定制公司成功</span>
                </div>
                <!-- 内容 -->
                <div class="boos_introduce">
                    <!-- 第一块内容 -->
                    <div class="boos_one">
                        <div class="back_padd">
                            <!-- 标题 -->
                            <div class="boos_title">
                                <span>ONE</span>
                                <h2>充分利用地区差异，选择合理注册地址</h2>
                            </div>
                            <!-- 线 -->
                            <div class="boos_line"></div>
                            <!-- 图片展示 -->
                            <div class="boos_img">
                                <!-- 第一行 -->
                                <div class="img_list">
                                    <div class="one">
                                        <img class="marginB10" src="./img/home_1 (1).png" alt="">
                                        <span class="font14">税收优惠地域</span>
                                    </div>
                                    <div class="two">
                                        <img class="marginB10" src="./img/home_2.png" alt="">
                                        <span class="font14">孵化园(集中办公)</span>
                                    </div>
                                </div>
                                <!-- 第二行 -->
                                <div class="img_list">
                                    <div class="one">
                                        <img class="marginB10" src="./img/hom_3.png" alt="">
                                        <span class="font14">商业楼</span>
                                    </div>
                                    <div class="two">
                                        <img class="marginB10" src="./img/home_4.png" alt="">
                                        <span class="font14">写字楼</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 第二块内容 -->
                    <div class="boos_two">
                        <div class="back_padd">
                            <!-- 标题 -->
                            <div class="boos_title">
                                <span>TWO</span>
                                <h2>合理运用税收杠杆，匹配注册资金方案</h2>
                            </div>
                            <!-- 线 -->
                            <div class="boos_line"></div>
                            <!-- 内容表单 -->
                            <div class="content_form">
                                <span class="one">测算您的补贴额度</span>
                                <span class="two">（高达 <span class="three">30万</span> ）</span>
                                <p>一键测算，初创企业可以申请高达30万的创业补贴</p>
                                <!-- 表单 -->
                                <div class="input_form">
                                    <div class="inpue_one">
                                        <input type="text" placeholder="输入您的行业">
                                        <div class="line"></div>
                                    </div>
                                    <div class="input_two marginTo20">
                                        <input type="text" placeholder="输入手机号码">
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <!-- 按钮 -->
                                <div class="form_btn">
                                    <span class="one">测算补贴额度</span>
                                </div>
                                <!-- 安全声明 -->
                                <div class="statement">
                                    <img src="./img/zy.png" alt="">
                                    <span class="stat_text">安全声明：</span>
                                    <span class="stat_content">
                                        您的信息将被严格保密，您提供的个人信息授权我公司用于本次补贴测算，不用作他途。
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 第三块内容 -->
                    <div class="boos_the">
                        <div class="back_padd">
                            <!-- 标题 -->
                            <div class="boos_title">
                                <span>THREE</span>
                                <h2>多方位了解各类政策，合法享受政策优惠</h2>
                            </div>
                            <!-- 线 -->
                            <div class="boos_line"></div>
                            <div class="policy">
                                <!-- 第一行 -->
                                <div class="individual">
                                    <span class="individual_title">个税核定征收</span>
                                    <p class="individual_content">个人独资企业不交企业所得税 个税申请核定征收，享固定税率 综合税负仅3.5%，节税70%以上</p>
                                </div>
                                <!-- 第二行 -->
                                <div class="great_number marginTo20">
                                    <span class="individual_title">高额返税退税</span>
                                    <p class="individual_content">返还地方留存高达40%以上 大幅减轻企业税收负担</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 企腾宝·让老板创业更简单 结束-->

        <!-- 专业团队 -->
        <div class="team">
            <div class="team_title">
                <span>专业团队</span>
            </div>
            <div class="team_tab">
                <div class="team_select_one team_select_one1 chengdu" style="color: #fff;">
                    成都
                    <img src="./img/team_right.png" alt="">
                </div>
                <div v-for="item in provinceArr" class="team_select_one1" :class="item.class" v-cloak>
                    {{item.proName}}
                    <img src="./img/team_right.png" alt="">
                </div>
            </div>
            <!-- 团队照片 -->
            <div class="team_img">
                <!-- 成都 -->
                <div class="level chengdu1 active">
                    <div class="img_item" v-for="item in chengDuTeamInfoArr">
                        <div class="team_headimg" v-cloak>
                            <img class="team_item_img" :src=item.img alt="">
                            <p class="team_headimg_name">{{item.name}}</p>
                            <p class="team_headimg_deas">{{item.deas}}</p>
                            <div class="team_btn">{{item.btn}}</div>
                        </div>
                    </div>
                </div>
                <!-- 其他城市 -->
                <div v-for="item in provinceArr" class="level" :class="item.class+'1'">
                    <div class="img_item" v-for="item1 in item.teamArr">
                        <div class="team_headimg" v-cloak>
                            <img class="team_item_img" :src=item1.img alt="">
                            <p class="team_headimg_name">{{item1.name}}</p>
                            <p class="team_headimg_deas">{{item1.deas}}</p>
                            <div class="team_btn">{{item1.btn}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 团队照片结束 -->

            <!-- 企腾宝工商服务 -->
            <div class="commerce_service">
                <!-- 标题 -->
                <div class="commerce_service_title">
                    <span class="commerce_title">企腾宝工商服务</span></br>
                    <span class="commerce_deas">标准化的业务流程、清晰可见，有力的保障需求方权益</span>
                </div>
                <!-- 内容 -->
                <div class="commerce_service_content">
                    <div v-for="item in commerceServiceArr" class="commerce_service_img" v-cloak>
                        <img :src=item.img alt="">
                        <div class="commerce_service_deas">
                            <span class="commerce_span_on">{{item.title}}</span>
                            <span class="commerce_span_two">......</span>
                            <span class="commerce_span_three">{{item.deas}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 企腾宝工商服务 结束-->

        </div>
        <!-- 专业团队 结束-->

        <!-- 工商服务常识 -->
        <div class="industry_serve">
            <div class="industry_title">
                <span class="industry_span_title">工商服务常识</span><br>
                <span class="industry_span_deas">了解行业百态、掌握实时政策，让老板经营企业事半功倍</span>
            </div>

            <div class="tab_contenrt">
                <!-- tab -->
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this layui-this1">公司注册</li>
                        <li>工商变更</li>
                        <li>公司注销</li>
                    </ul>
                    <div class="layui-tab-content">
                        <!-- 公司注册 -->
                        <div class="layui-tab-item layui-show">
                            <!-- 正文开始 -->
                            <div class="company_registry_main">
                                <div class="company_registry">
                                    <div class="company_registry_img_one">
                                        <img src="./img/5de093a441966.jpg" alt="">
                                        <div class="span_div">
                                            <span class="company_registry_img_one_title">2019年12月1日起，取消企业</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">中国人民银行通知，自12月1日起，将取消试点</span>
                                        </div>
                                    </div>
                                    <!-- 虚线 -->
                                    <div class="company_registry_line"></div>
                                    <div class="company_registry_img_two">
                                        <img src="./img/5de08ec4a4852.jpg" alt="">
                                        <div class="span_div">
                                            <span
                                                class="company_registry_img_one_title">干货来了！12个问答解读《非居民纳税人享受</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">近日，国家税务总局发布了《非居民纳税人享受协</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- 虚线 -->
                                <div class="company_line"></div>
                                <div class="realtime_msg">
                                    <ul>
                                        <div class="realtime_msg_line"></div>
                                        <li>供暖季！这份税收优惠政策送给你~<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>2019年1月1日起 这些群体可扣...<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>从大学时创业，看做什么才是体面？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>疫情下的中小微企业有多难？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                    </ul>
                                </div>
                            </div>
                            <!-- 正文结束 -->
                        </div>
                        <!-- 工商变更 -->
                        <div class="layui-tab-item">
                            <!-- 正文开始 -->
                            <div class="company_registry_main">
                                <div class="company_registry">
                                    <div class="company_registry_img_one">
                                        <img src="./img/5dce89699dae9.png" alt="">
                                        <div class="span_div">
                                            <span class="company_registry_img_one_title">2019年12月1日起，取消企业</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">中国人民银行通知，自12月1日起，将取消试点</span>
                                        </div>
                                    </div>
                                    <!-- 虚线 -->
                                    <div class="company_registry_line"></div>
                                    <div class="company_registry_img_two">
                                        <img src="./img/5de08ef9e6bbe.jpg" alt="">
                                        <div class="span_div">
                                            <span
                                                class="company_registry_img_one_title">干货来了！12个问答解读《非居民纳税人享受</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">近日，国家税务总局发布了《非居民纳税人享受协</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- 虚线 -->
                                <div class="company_line"></div>
                                <div class="realtime_msg">
                                    <ul>
                                        <div class="realtime_msg_line"></div>
                                        <li>供暖季！这份税收优惠政策送给你~<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>2019年1月1日起 这些群体可扣...<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>从大学时创业，看做什么才是体面？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>疫情下的中小微企业有多难？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                    </ul>
                                </div>
                            </div>
                            <!-- 正文结束 -->
                        </div>
                        <!-- 公司注销 -->
                        <div class="layui-tab-item">
                            <!-- 正文开始 -->
                            <div class="company_registry_main">
                                <div class="company_registry">
                                    <div class="company_registry_img_one">
                                        <img src="./img/5dd24498942f9.png" alt="">
                                        <div class="span_div">
                                            <span class="company_registry_img_one_title">2019年12月1日起，取消企业</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">中国人民银行通知，自12月1日起，将取消试点</span>
                                        </div>
                                    </div>
                                    <!-- 虚线 -->
                                    <div class="company_registry_line"></div>
                                    <div class="company_registry_img_two">
                                        <img src="./img/5dce86989dba3.jpg" alt="">
                                        <div class="span_div">
                                            <span
                                                class="company_registry_img_one_title">干货来了！12个问答解读《非居民纳税人享受</span><br>
                                            <span class="company_registry_img_one_time">2019-11</span><br>
                                            <span class="company_registry_img_one_deas">近日，国家税务总局发布了《非居民纳税人享受协</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- 虚线 -->
                                <div class="company_line"></div>
                                <div class="realtime_msg">
                                    <ul>
                                        <div class="realtime_msg_line"></div>
                                        <li>供暖季！这份税收优惠政策送给你~<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>2019年1月1日起 这些群体可扣...<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>从大学时创业，看做什么才是体面？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                        <li>疫情下的中小微企业有多难？<span>2019-11</span></li>
                                        <div class="realtime_msg_line"></div>
                                    </ul>
                                </div>
                            </div>
                            <!-- 正文结束 -->
                        </div>
                    </div>
                </div>
                <!-- 常见问题 -->
                <div class="tab_Faq">
                    <div class="faq_txt">
                        <img src="./img/xz747.png" alt="">
                        <span>常见问题</span>
                    </div>
                    <div class="faq_list">
                        <ul>
                            <li><span>01</span><img src="./img/xz_green.png" alt="">问:吊销转注销如何操作？</li>
                            <div class="realtime_msg_line"></div>
                            <li><span>02</span><img src="./img/xz_green.png" alt="">问:如何变更经营范围、股东、地址...</li>
                            <div class="realtime_msg_line"></div>
                            <li><span>03</span> <img src="./img/xz_green.png" alt="">问:变更地址需要提交什么材料？</li>
                            <div class="realtime_msg_line"></div>
                            <li><span>04</span> <img src="./img/xz_green.png" alt="">问:如何设立有限公司、有限（普通...</li>
                            <div class="realtime_msg_line"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 工商服务常识 结束-->

        <!-- 我们的客户 -->
        <div class="our_clients">
            <div class="our_clients_main">
                <span class="our_clients_title">我们的客户</span>
                <span class="our_clients_deas">专业塑造品牌，超过10000+大品牌紧密合作</span>
            </div>
            <div class="our_clients_img">
                <div v-for="item in ourClientsImgArr" class="our_clients_img_item" v-cloak>
                    <img :src=item.img alt="">
                </div>
            </div>
        </div>
        <!-- 我们的客户 结束-->

        <!-- 准备开展业务 -->
        <div class="conduct_business">
            <div class="conduct_business_main">
                <div class="conduct_business_title_deas">
                    <img src="./img/foot_title1.png" alt="">
                    <div style="margin-left: 10px;">
                        <div class="conduct_business_title">
                            准备开展业务
                        </div>
                        <div class="conduct_business_deas">Ready to do business?</div>
                    </div>
                </div>
                <!-- 自行购买公司按钮 -->
                <div class="by_oneself_btn">
                    <img src="./img/foot_title2.png" alt="">
                    自行购买公司
                </div>
                <span class="or_txt">或者</span>
                <!-- 定制公司按钮 -->
                <div class="custom_company_btn">
                    <img src="./img/foot_title3.png" alt="">
                    定制公司
                </div>
                <!-- 在线客服按钮 -->
                <div class="online_service_btn">
                    <img src="./img/foot_title5.png" alt="">
                    在线客服
                </div>
            </div>
        </div>
        <!-- 准备开展业务 结束-->

        <!-- 底部导航 -->
        <div class="foot_tab">
            <div class="foot_tab_main">
                <!-- 帮助 -->
                <div class="foot_tab_help">
                    <span class="help_txt">帮助</span>
                    <div class="foot_tab_line"></div>
                    <span class="foot_tab_select">登录故障</span><br>
                    <span class="foot_tab_select">安全验证</span>
                </div>
                <!-- 资金 -->
                <div class="foot_tab_fund">.
                    <span class="help_txt">资金</span>
                    <div class="foot_tab_line"></div>
                    <span class="foot_tab_select">资金安全</span><br>
                    <span class="foot_tab_select">提现流程</span><br>
                    <span class="foot_tab_select">服务费说明</span>
                </div>
                <!-- 保障 -->
                <div class="foot_tab_safeguard">
                    <span class="help_txt">保障</span>
                    <div class="foot_tab_line"></div>
                    <span class="foot_tab_select">购买保障</span><br>
                    <span class="foot_tab_select">担保交易</span><br>
                    <span class="foot_tab_select">极速退款</span><br>
                    <span class="foot_tab_select">用户协议</span>
                </div>
                <!-- 工具箱 -->
                <div class="foot_tab_toolKit">
                    <span class="help_txt">工具箱</span>
                    <div class="foot_tab_line"></div>
                    <span class="foot_tab_select">公司估价</span><br>
                    <span class="foot_tab_select">增值税测算</span><br>
                    <span class="foot_tab_select">税前个税计算</span><br>
                    <span class="foot_tab_select">税后推算总工资</span><br>
                    <span class="foot_tab_select">企业所得税</span>
                </div>
                <!-- 我们 -->
                <div class="foot_tab_our">
                    <span class="help_txt">我们</span>
                    <div class="foot_tab_line"></div>
                    <span class="foot_tab_select">关于我们</span><br>
                    <span class="foot_tab_select">商务合作</span><br>
                    <span class="foot_tab_select">联系我们</span>
                </div>
            </div>
        </div>
        <!-- 底部导航 结束-->



    </div>
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
    <script>
        scrollingText();
        teamTab();
    </script>
</body>

</html>